body {
    /* 
    This is the only vibecoded part of the entire stylesheet because I wanted to fix an issue with a linear gradient I coded myself
    where lines and random pixels randomly appeared. 

    I don't want to learn advanced CSS and I definitely won't spend time out of my day to learn it.
    */
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.02) 1px, transparent 1px), linear-gradient(to bottom in oklch, #101010, #000000);
    background-repeat: no-repeat;
    background-size: 3px 3px, 100% 100%;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* end */
    color: white;
    font-family: "Roboto", Arial;
}

body * {
    margin: 2px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    transform: scale(0.75);
}

.trans {
    opacity: 0.5;
}

.important {
    color: orange;
}